html {
    background-color: black;
}

h1 {
    text-align: center;
    margin: 15px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: aqua;
}

h3 {
    text-align: center;
    text-align: justify;
    margin-right: 100px;
    margin-left: 100px;
    color: white;
}

img {
    display: block;
    height: 20%;
    margin: auto;
}

h2 {
    margin-left: 7%;
    color: aqua
}


p {
    margin-left: 8%;
    color: aliceblue
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    border: 1px solid aqua;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}