body {
    background-color: black;
}

header {
    background-color: black;
    color: yellow;
    text-align: center;
    border: 3px solid yellow;
    border-radius: 80px;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}


section {
    background-color: black;
    margin: 30px;
    cursor: pointer;
    transition: box-shadow 1s ease;


}

section:hover {
    box-shadow: 0.2rem 0.2rem 0.3rem 0.3rem aqua
}

h3 {
    text-align: center;
    color: yellow;
}

.container {
    display: flex;
}

.img_container {
    padding-left: 225px;
    margin: 10px;


}

.imagen {
    padding-right: 40px;
    margin-top: 5px;
    margin-left: 250px;
}

#articulo2 {
    color: white;
}

.contenedor2 {
    display: flex;
}

.ajustes {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 225px;
    padding-top: 10px;
}

h4 {
    color: aqua;
    text-align: center;
    font-size: larger;
}


footer {
    background-color: black;
    padding: 30px;
    border: 3px solid aqua;
    border-radius: 25px;
    cursor: pointer;
}


h5 {
    color: aqua;
    font-size: larger;
    text-align: center;
    margin: 25px;


}

.contenedor3 {
    display: flex;
}

.info {
    padding-left: 350px;
    padding-top: 25px;


}

#imagen {
    border-style: solid;
    border-width: 7px;
    border-color: rgba(169, 169, 169, 0.192);
    border-radius: 500px;
}

.linea {
    border-color: aqua;
}

p {
    text-align: center;
    color: white;
}